# Group Homework - Twitter

# setup

Conda Umgebung "twitter" verwenden und 'tweepy' importieren

In [18]:
import tweepy

Nun die keys importieren

In [19]:
from keys import *

Die importierten keys in der Funktion "tweepy.Client" verwenden

In [20]:
import requests

client = tweepy.Client( bearer_token=bearer_token,
                        consumer_key=consumer_key,
                        consumer_secret=consumer_secret,
                        access_token=access_token,
                        access_token_secret=access_token_secret,
                        return_type= requests.Response,
                        wait_on_rate_limit=True)

Eine einfache Query definieren, die tweets des WIRED accounts sucht und retweets nicht berücksichtigt

In [21]:
my_query = 'from:WIRED -is:retweet'

- Mithilfe der Funktion "search_recent_tweets" tweets aus den letzten 7 Tagen holen

- Durch "tweet_fields:author_id" und "created_at" zusätzliche Informationen suchen

- Anzahl der gefundenen tweets auf 100 limiteren

In [24]:
tweets = client.search_recent_tweets( query=my_query,
                                     tweet_fields=['author_id', 'created_at'],
                                     max_results=100)

# In pandas dataframe konvertieren

pandas importieren und Daten in ein pandas dataframe konvertieren

In [26]:
import pandas as pd

tweets_dict = tweets.json()

tweets_data = tweets_dict['data']

df = pd.json_normalize(tweets_data)

In [27]:
df

,text,created_at,author_id,edit_history_tweet_ids,id
0,Wi-Fi 6E is the name for devices that operate ...,2022-12-11T19:59:05.000Z,1344951,[1602030229446434816],1602030229446434816
1,Robotics professor @hadmoni answers the intern...,2022-12-11T19:00:01.000Z,1344951,[1602015365705465860],1602015365705465860
2,Even if you're not living in an off-grid solar...,2022-12-11T18:30:11.000Z,1344951,[1602007854776553474],1602007854776553474
3,WIRED\nA big-screen in your work bag. Bright 1...,2022-12-11T17:59:01.000Z,1344951,[1602000014968082432],1602000014968082432
4,For those who have impaired vision or who are ...,2022-12-11T17:30:11.000Z,1344951,[1601992757605711878],1601992757605711878
...,...,...,...,...,...
95,A team of physicists used starlight to measure...,2022-12-09T16:02:04.000Z,1344951,[1601245805972787204],1601245805972787204
96,The great holiday rush has become the great ho...,2022-12-09T15:33:04.000Z,1344951,[1601238507392999426],1601238507392999426
97,Elizabeth Montoya and Chrissy Fernandez from @...,2022-12-09T15:00:03.000Z,1344951,[1601230198854279168],1601230198854279168
98,Fossil’s new Gen 6 Wellness smartwatch looks n...,2022-12-09T14:49:04.000Z,1344951,[1601227435110010880],1601227435110010880
99,If you’re curious whether it’s a good idea to ...,2022-12-09T14:02:12.000Z,1344951,[1601215639653425153],1601215639653425153

Pandas dataframe als "twitter.csv" in data/raw abspeichern

In [33]:
df.to_csv("/Users/Dani/homework-1/data/raw/twitter.csv")